<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Spring Boot File Upload / Download Rest API Example</title>
        <link rel="stylesheet" href="/css/fileUpload.css" />
    </head>
    <body>
        <div class="upload-container">
            <div class="upload-header">
            </div>
            <div class="upload-content">
                <div class="single-upload">
                    <div class="single-upload">
                    <h3>Upload Single File</h3>
                    <form id="singleUploadForm" name="singleUploadForm">
                        <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                        <button type="submit" class="primary submit-btn">Submit</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <script src="js/fileUpload.js" ></script>
    </body>
</html>