<body class="body">
  <h2 class="toptitle">우리 insight의 부서</h2>
  <div id="department">
    <button id="startup" class="department-button">Start UP</button>
    <button id="game" class="department-button">Game</button>
    <button id="robot" class="department-button">Robot</button>
    <button id="web" class="department-button">Web</button>
    <div class="department">
      <div class="startup">
        <h3>창업</h3>
        <div class="keyword-group">
          <div id="education" class="keyword">창업 교육</div>
          <div id="mentoring" class="keyword">멘토링</div>
          <div id="experience" class="keyword">경험</div>
        </div>
        <pre><p>
창업을 위한 교육부터
실제 창업에 대한 멘토링뿐만 아니라 
지원도 받아 실제로 지원을 할 수 있는 부서입니다.</p></pre>
      </div>
      <div class="game">
        <h3>게임</h3>
        <div class="keyword-group">
          <div id="unity" class="keyword">Unity</div>
          <div id="C" class="keyword">C#</div>
          <div id="VR" class="keyword">VR</div>
        </div>
        <pre><p>
창업을 위한 교육부터
실제 창업에 대한 멘토링뿐만 아니라
지원도 받아 실제로 지원을 할 수 있는 부서입니다.</p></pre>
      </div>
      <div class="robot">
        <h3>로봇</h3>
        <div class="keyword-group">
          <div id="AI" class="keyword">Ros</div>
          <div id="printing" class="keyword">3D 프린팅</div>
          <div id="robotarm" class="keyword">로봇 팔</div>
          <div id="autonomous" class="keyword">자율주행</div>
        </div>
        <pre><p>
창업을 위한 교육부터
실제 창업에 대한 멘토링뿐만 아니라 
지원도 받아 실제로 지원을 할 수 있는 부서입니다.</p></pre>
      </div>
      <div class="web">
        <h3>웹</h3>
        <div class="keyword-group">
          <div id="UXUI" class="keyword">UX/UI</div>
          <div id="back-end" class="keyword">Back-end</div>
          <div id="front-end" class="keyword">Front-end</div>
        </div>
        <pre><p>
창업을 위한 교육부터
실제 창업에 대한 멘토링뿐만 아니라
지원도 받아 실제로 지원을 할 수 있는부서입니다.</p></pre>
      </div>
    </div>
  </div>
</body>