<!--navbar 위치 추적 및 간단한 정리 색상은 정해야함-->
<html th:fragment="~{navbar}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="JavaScript/navbar.js" type="text/javascript" defer></script>
</head>
	<nav id="navbar-all" class="navbar navbar-light bg-light px-3">
	  <a class="navbar-brand" href="#"><img src="../static/picture/insight.png" alt="Insight"></a>
	  <ul class="nav nav-pills">
	    <li class="nav-item">
	      <a class="nav-link" href="#">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#Aboutpage">About</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#Activitypage">Activity</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#Jinuspage">Contact</a>
	    </li>
	  </ul>
	</nav>
</html>